.switch {
    display: inline-block;
    height: 22px;
    width: 40px;
    background: lightgrey;
    border-radius: 16px;
    float: right;
    cursor: pointer;
    border: 1px solid grey;

    & input {
        position: absolute;
        opacity: 0;
    }

    & .toggle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: white;
        border: 1px solid olive;
        box-shadow: 0 2px 5px rgba(0, 0, 0,.3);
        transition: all .3s;
    }

    & input:checked + .toggle {
        transform: translate3d(100%, 0, 0);
    }
}

