h1 {
	font-weight: normal;
	font-size: 5.5vw;
	margin-top: 10px; }

h2 {
	font-weight: normal;
	font-size: 4.5vw; }

h3,
h4 {
	font-weight: bold;
	font-size: 4.2vw;
	margin-top: 5px; }

h4 { font-weight: lighter;}

h5 {
	font-weight: lighter;
	font-size: 3vw;
	margin-top: 15px; }

h6 {
  padding: 15px;
  font-size: 3vw;
  font-weight: bold;
  color: white; }
  
p {	font-size: 3vw; }

.left { text-align: left; }
.right { text-align: right; }